# Чтение и запись данных

## Чтение и запись файлов в формате JSON

### Проверка практики

In [3]:
import urllib.request as req
import json
import pandas as pd

#### Поиск идентификатора города

In [ ]:
url = "https://www.metaweather.com/api/location/search/?query=paris"

with req.urlopen(url) as session:
    response1 = session.read().decode()
    data = json.loads(response1)
data[0]

{'title': 'Paris',
 'location_type': 'City',
 'woeid': 615702,
 'latt_long': '48.856930,2.341200'}

#### Получение истории погоды

In [ ]:
url = 'https://www.metaweather.com/api/location/615702/2020/05/28/'

df = pd.read_json(url)
df.head()

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability
0,6723109975490560,Clear,c,NE,2020-05-28T21:36:04.490586Z,2020-05-28,14.970,21.925,21.810,7.253747,45.331452,1028.0,43,15.078815,68
1,5582221102546944,Clear,c,NE,2020-05-28T18:36:05.696646Z,2020-05-28,13.895,24.470,24.165,7.170185,41.668908,1028.5,42,15.078815,68
2,4875719383449600,Clear,c,NE,2020-05-28T15:36:05.294001Z,2020-05-28,13.895,24.470,24.165,7.170185,41.668908,1028.5,42,15.078815,68
3,5781794072821760,Clear,c,NE,2020-05-28T12:36:04.965983Z,2020-05-28,13.865,23.555,22.340,7.230251,42.670098,1030.0,48,15.078815,68
4,5252630563520512,Clear,c,NE,2020-05-28T09:36:04.743683Z,2020-05-28,13.930,23.000,22.370,7.199636,43.334991,1030.0,47,14.516474,68

In [ ]:
df['the_temp'].mean()

23.024791666666673

### Запись JSON в файлы

In [4]:
url = ("https://api.open-meteo.com/v1/forecast?"
       "latitude=55.7558&longitude=37.6176&current_weather=true")

with req.urlopen(url) as session:
    response = session.read().decode()
    s = json.loads(response)
s

{'latitude': 55.75,
 'longitude': 37.625,
 'generationtime_ms': 0.047206878662109375,
 'utc_offset_seconds': 0,
 'timezone': 'GMT',
 'timezone_abbreviation': 'GMT',
 'elevation': 149.0,
 'current_weather_units': {'time': 'iso8601',
  'interval': 'seconds',
  'temperature': '°C',
  'windspeed': 'km/h',
  'winddirection': '°',
  'is_day': '',
  'weathercode': 'wmo code'},
 'current_weather': {'time': '2025-11-15T15:30',
  'interval': 900,
  'temperature': -0.9,
  'windspeed': 10.0,
  'winddirection': 283,
  'is_day': 0,
  'weathercode': 2}}

In [5]:
file = open('file.json', 'w')
json.dump(s, file, indent=4)
file.close()

In [6]:
with open('file.json', 'w') as file:
    json.dump(s, file, indent=4)

### Чтение файла JSON

In [7]:
with open('file.json', 'r') as file:
    s = json.load(file)

s

{'latitude': 55.75,
 'longitude': 37.625,
 'generationtime_ms': 0.047206878662109375,
 'utc_offset_seconds': 0,
 'timezone': 'GMT',
 'timezone_abbreviation': 'GMT',
 'elevation': 149.0,
 'current_weather_units': {'time': 'iso8601',
  'interval': 'seconds',
  'temperature': '°C',
  'windspeed': 'km/h',
  'winddirection': '°',
  'is_day': '',
  'weathercode': 'wmo code'},
 'current_weather': {'time': '2025-11-15T15:30',
  'interval': 900,
  'temperature': -0.9,
  'windspeed': 10.0,
  'winddirection': 283,
  'is_day': 0,
  'weathercode': 2}}

In [8]:
df = pd.read_json('file.json')
df.head()

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,current_weather_units,current_weather
time,55.75,37.625,0.047207,0,GMT,GMT,149,iso8601,2025-11-15T15:30
interval,55.75,37.625,0.047207,0,GMT,GMT,149,seconds,900
temperature,55.75,37.625,0.047207,0,GMT,GMT,149,°C,-0.9
windspeed,55.75,37.625,0.047207,0,GMT,GMT,149,km/h,10.0
winddirection,55.75,37.625,0.047207,0,GMT,GMT,149,°,283