# Чтение и запись данных

## Чтение данных из web-сервиса

In [1]:
import urllib.request as req
import json
import pandas as pd

### Поиск идентификатора города

In [3]:
url = ("https://api.open-meteo.com/v1/forecast?"
       "latitude=55.7558&longitude=37.6176&current_weather=true")

session = req.urlopen(url)
response = session.read().decode()
session.close()

response

'{"latitude":55.75,"longitude":37.625,"generationtime_ms":0.08249282836914062,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":149.0,"current_weather_units":{"time":"iso8601","interval":"seconds","temperature":"°C","windspeed":"km/h","winddirection":"°","is_day":"","weathercode":"wmo code"},"current_weather":{"time":"2025-11-15T15:15","interval":900,"temperature":-0.8,"windspeed":10.0,"winddirection":283,"is_day":0,"weathercode":2}}'

In [4]:
url = ("https://api.open-meteo.com/v1/forecast?"
       "latitude=55.7558&longitude=37.6176&current_weather=true")

with req.urlopen(url) as session:
    response1 = session.read().decode()
response1

'{"latitude":55.75,"longitude":37.625,"generationtime_ms":0.042319297790527344,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":149.0,"current_weather_units":{"time":"iso8601","interval":"seconds","temperature":"°C","windspeed":"km/h","winddirection":"°","is_day":"","weathercode":"wmo code"},"current_weather":{"time":"2025-11-15T15:15","interval":900,"temperature":-0.8,"windspeed":10.0,"winddirection":283,"is_day":0,"weathercode":2}}'

In [6]:

with req.urlopen(url) as session:
    response1 = session.read().decode()
    data = json.loads(response1)
data

{'latitude': 55.75,
 'longitude': 37.625,
 'generationtime_ms': 0.054836273193359375,
 'utc_offset_seconds': 0,
 'timezone': 'GMT',
 'timezone_abbreviation': 'GMT',
 'elevation': 149.0,
 'current_weather_units': {'time': 'iso8601',
  'interval': 'seconds',
  'temperature': '°C',
  'windspeed': 'km/h',
  'winddirection': '°',
  'is_day': '',
  'weathercode': 'wmo code'},
 'current_weather': {'time': '2025-11-15T15:15',
  'interval': 900,
  'temperature': -0.8,
  'windspeed': 10.0,
  'winddirection': 283,
  'is_day': 0,
  'weathercode': 2}}

In [7]:
city = data['latitude']
city

55.75

### Получение истории погоды

In [8]:
url = (
    "https://archive-api.open-meteo.com/v1/archive?"
    "latitude=55.7558&longitude=37.6176&"
    "start_date=2020-03-01&end_date=2020-03-01&"
    "hourly=temperature_2m,relative_humidity_2m"
)

with req.urlopen(url) as session:
    response = session.read().decode()
    data = json.loads(response)
data

{'latitude': 55.782074,
 'longitude': 37.576374,
 'generationtime_ms': 1.963973045349121,
 'utc_offset_seconds': 0,
 'timezone': 'GMT',
 'timezone_abbreviation': 'GMT',
 'elevation': 149.0,
 'hourly_units': {'time': 'iso8601',
  'temperature_2m': '°C',
  'relative_humidity_2m': '%'},
 'hourly': {'time': ['2020-03-01T00:00',
   '2020-03-01T01:00',
   '2020-03-01T02:00',
   '2020-03-01T03:00',
   '2020-03-01T04:00',
   '2020-03-01T05:00',
   '2020-03-01T06:00',
   '2020-03-01T07:00',
   '2020-03-01T08:00',
   '2020-03-01T09:00',
   '2020-03-01T10:00',
   '2020-03-01T11:00',
   '2020-03-01T12:00',
   '2020-03-01T13:00',
   '2020-03-01T14:00',
   '2020-03-01T15:00',
   '2020-03-01T16:00',
   '2020-03-01T17:00',
   '2020-03-01T18:00',
   '2020-03-01T19:00',
   '2020-03-01T20:00',
   '2020-03-01T21:00',
   '2020-03-01T22:00',
   '2020-03-01T23:00'],
  'temperature_2m': [-1.7,
   -2.0,
   -1.4,
   -1.6,
   -2.1,
   -1.8,
   -0.4,
   1.4,
   2.5,
   3.2,
   4.4,
   4.7,
   4.5,
   4.0,
   3.6,
   3.5,
   3.6,
   4.1,
   4.2,
   4.5,
   4.6,
   4.4,
   4.0,
   3.3],
  'relative_humidity_2m': [82,
   87,
   84,
   84,
   86,
   82,
   82,
   74,
   62,
   54,
   50,
   50,
   53,
   56,
   63,
   65,
   66,
   65,
   65,
   64,
   65,
   68,
   75,
   85]}}

In [9]:
df = pd.read_json(response)
df.head()

/var/folders/th/dn5zc4dd3rz56c206fznc1th0000gn/T/ipykernel_74878/390210458.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(response)

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,hourly_units,hourly
time,55.782074,37.576374,1.963973,0,GMT,GMT,149,iso8601,"[2020-03-01T00:00, 2020-03-01T01:00, 2020-03-0..."
temperature_2m,55.782074,37.576374,1.963973,0,GMT,GMT,149,°C,"[-1.7000000000000002, -2.0, -1.4, -1.6, -2.1, ..."
relative_humidity_2m,55.782074,37.576374,1.963973,0,GMT,GMT,149,%,"[82, 87, 84, 84, 86, 82, 82, 74, 62, 54, 50, 5..."

In [13]:
max(df['hourly']['temperature_2m'])

4.7

In [14]:
df['hourly']

time                    [2020-03-01T00:00, 2020-03-01T01:00, 2020-03-0...
temperature_2m          [-1.7000000000000002, -2.0, -1.4, -1.6, -2.1, ...
relative_humidity_2m    [82, 87, 84, 84, 86, 82, 82, 74, 62, 54, 50, 5...
Name: hourly, dtype: object

In [15]:
df = pd.read_json(url)
df.head()

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,hourly_units,hourly
time,55.782074,37.576374,0.241518,0,GMT,GMT,149,iso8601,"[2020-03-01T00:00, 2020-03-01T01:00, 2020-03-0..."
temperature_2m,55.782074,37.576374,0.241518,0,GMT,GMT,149,°C,"[-1.7000000000000002, -2.0, -1.4, -1.6, -2.1, ..."
relative_humidity_2m,55.782074,37.576374,0.241518,0,GMT,GMT,149,%,"[82, 87, 84, 84, 86, 82, 82, 74, 62, 54, 50, 5..."